<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #wrap{
            width: 100%;
            height: 100%;
        }
        #main{
            width: 1000px;
            height: 500px;
            margin: auto;
            padding: 200px 300px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div id="main">
    <form action="/" method="post">
        아이디:<input type="text" name="userid"> <br>
        비밀번호:<input type="password" name="userpw" id="userpw"><br>
        비밀번호:<input type="password" name="userpw_check" id="userpw_check"><br>
        이름:<input type="text" name="username" minlength="5" maxlength="10"><br>
        <input type="submit" value="보내기" id="submit">

        <table>
            <tr>
                <td>아이디</td>
                <td>비밀번호</td>
                <td>이름</td>
            </tr>
            {% for item in find %}
            <tr>
                <td>{{item.userid}}</td>
                <td>{{item.userpw}}</td>
                <td>{{item.username}}</td>

            </tr>
            {% endfor %}
        </table>
    </form>
    <script>
        function check(){
            let pw = document.querySelector('#userpw');
        let pw_check = document.querySelector('#userpw_check');
        console.log(pw.value,pw_check.value);
        }

        let submit = document.querySelector('#submit');
        submit.addEventListener('click',check)
    </script>
</div>
</div>
</body>

</html>