<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/" method="post">
        아이디:<input type="text" name="userid"> <br>
        비밀번호:<input type="password" name="userpw"><br>
        이름:<input type="text" name="username"><br>
        <input type="submit" value="보내기">

        <table>
            <tr>
                <td>아이디</td>
                <td>비밀번호</td>
                <td>이름</td>
            </tr>
            {% for item in find %}
            <tr>
                <td>{{item.userid}}</td>
                <td>{{item.userpw}}</td>
                <td>{{item.username}}</td>

            </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>