<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 작성하는 곳 입니다</h1> <br>
    <form action="/write" method="post">
    <input type="text" name="subject">
    <input type="text" name="name">
    <input type="text" name="content">
    <input type="submit" value="전송하기">
    </form>
    <a href="/">메인으로가기</a>
</body>
</html>