<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/join.css">
</head>

<body>
    <div id="wrap">
        <div id="main">
            <form action="/user/join" method="POST">
                <h1>회원가입</h1>
                <p>아이디</p>
                <input type="text" name="userid" id="userid" size="40" placeholder="아이디를 입력하세요">
                <p>비밀번호</p>
                <input type="password" name="userpw" id="userpw" size="40" placeholder="비밀번호를 입력하세요">
                <p>이름</p>
                <input type="text" name="username" id="username" size="40" placeholder="이름을 입력하세요">
                </br>
                <input type="submit" id="submit" value="회원가입">
            </form>
        </div>
    </div>

</body>

</html>