.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    font-size: 3rem; 
}

.links-container{
    height: 0;
    overflow: hidden;
}
.links-container.on{
    height: 100%;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.links>li{
    width: 100%;
    text-align: center;
    border: 1px solid #eee ;
}
.links>li>a{
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.75rem;
    color: #000;
}

.social-icons{
    height: 0;
    overflow: hidden;
}
.icon{
    width: 2rem;
    height: 30px;
    position: relative;

}
.icon >span{
    width: 100%;
    border: 3px solid black;
    position: absolute;
    transition: all 0.4s;
}
.not_chack:nth-child(1){
   top: 0;
}
.not_chack:nth-child(2){
   top: 50%;
   transform: translateY(-50%);
}
.not_chack:nth-child(3){
   bottom: 0;
}

 .check:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
 }
 .check:nth-child(2){
    display: none;
 }
 .check:nth-child(3){
    top: 50%;
    transform: translateY(-50%)  rotate(-45deg) ;
 } 

/*  PC css style*/
@media screen and (min-width:800px){
   
    .logo{
        font-size: 4rem; 
    }
    .icon{
        display: none;
    }
    .nav-center{
        max-width: 1170px;
        margin:  0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .links-container{
        height: auto;
    }
    .links{
        display: flex;
        flex-direction: row;
    }
    .links >li{
        width: 100%;
        text-align: center;
        border-bottom: none;
    }
    .links >li >a{
        margin: 0 0.5rem;
        color: #000;
        font-size: 1.25rem;
    }

    .social-icons{
        display: flex;
        height: auto;
    }

    .social-icons >li>a{
        margin: 0 0.5rem;
        color: #000;

    }
}