<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1>저희 게시판에 오신걸 환영합니다.</h1>
           
        </div>
        <div id="body">
            <a href="/board/list" id="quick">게시판가기</a>
        </div>

</body>

</html>