<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/write.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h2> 게시판 쓰기</h2>
        </div>
        <form action="/board/write" method="post">
            <ul>
                <li class="text">글제목</li>
                <li><input type="text" name="subject" id="subject"></li>
            </ul>
            <ul>
                <li class="text">작성자</li>
                <li> <input type="text" name="board_name" id="board_name"></li>
            </ul>
            <ul>
                <li class="text">내용</li>
                <li>
                    <textarea name="content" id="content"></textarea>
                </li>
            </ul>
            <a href="/board/list" class="btn">리스트 가기</a>
            <input type="submit" value="글쓰기" class="btn">
        </form>
        
    </div>
    
</body>
</html>