@charset "utf-8";
/*
    common_module.css
*/

/*@import "/module_src/css/language.css?queryString=20210316091740"; */
@import "/module_src/css/language.css?queryString=20210316091740"; 

/***** Font *****/
@font-face {
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:normal;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Regular.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans';
    font-style:normal;
    font-weight:bold;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Bold.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Bold.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans PT';
    font-style:normal;
    font-weight:normal;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Regular.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Regular.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans PT';
    font-style:normal;
    font-weight:bold;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Bold.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Bold.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansPT-Bold.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans SC';
    font-style:normal;
    font-weight:normal;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Regular.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Regular.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans SC';
    font-style:normal;
    font-weight:bold;
    src:url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Bold.woff2) format('woff2'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Bold.woff) format('woff'),
    url(https://image.samsungsds.com/module_src/css/font/NotoSansSC-Bold.otf) format('opentype');
}
@font-face {
    font-family:'SharpSansNo1';
    font-style:normal;
    font-weight:normal;
    src:url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Medium.eot);
    src:local('※'), url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Medium.eot?#iefix) format('embedded-opentype'),
        url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Medium.woff) format('woff');
}
@font-face {
    font-family:'SharpSansNo1';
    font-style:normal;
    font-weight:bold;
    src:url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Bold.eot);
    src:local('※'), url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Bold.eot?#iefix) format('embedded-opentype'),
        url(https://image.samsungsds.com/module_src/css/font/SharpSansNo1-Bold.woff) format('woff');
}

* {font-family:'Noto Sans', sans-serif !important;}
.white, .white .btn {color:white !important;border-color:white !important;}





/***** Layout *****/
body {min-width:360px;font-family:'Noto Sans', sans-serif;color:#000;font-size:16px;font-weight:normal;line-height:1.2;letter-spacing:-0.4px;-webkit-text-size-adjust:none;/*-webkit-overflow-scrolling:touch;*/word-wrap:break-word;word-break:keep-all;white-space:normal;overflow-y:scroll;}

@media all and (max-width:1023px){
body {font-size:14px;}
}

@media all and (min-width:1921px){
#wrap {height:auto;}
#wrap:before,
#wrap:after {position:fixed;top:0;width:100%;height:100%;background:#dedede;content:"";z-index:10000;}
#wrap:before {left:calc(0% - (((100% - 1920px) /2) + 1920px));}
#wrap:after {left:calc(100% - ((100% - 1920px) / 2));}

.onepage-wrapper #wrap {height:inherit;}
}
        




/* 회사소개반영시 이관 */
.keyVisualWrap {margin-bottom:100px;}

@media all and (max-width:1023px){
.keyVisualWrap {margin-bottom:50px;}
.cnt_visual .keyVisualWrap + .inner {margin-bottom:45px;}
}

/* common.css */
.btn_btm .btn span {vertical-align:top;}


/* contents2.css */
@media all and (min-width:767px){
.office_ac .ul_ct {margin-top:80px !important;}
.office_ac .h5+.ul_ct{margin-top:44px !important;}
}
    
/* dt_solution.css */
#container.solution_container_main {height:calc(100% - 61px);}
.viewing-page-1,
.viewing-page-2 {overflow:hidden;}

/* blog.css */
.is_sticky.is_onSticky {top:110px;transition:top 0.2s;}
.sc_down .is_sticky.is_onSticky {top:50px;}
#container .breadCrumb {display:none;}
#footer .cookiePopup {color:#000;}

/* contents.css */
.use .owl-controls .owl-dots {position:absolute;left:0;bottom:0;margin-top:0;}
.use .owl-dots {position:static;width:100%;margin-top:25px;text-align:center;}

@media all and (max-width:767px){
.use.owl-carousel .owl-nav {display:none;}
}




/***** Common *****/
#container {position:relative;}

/** Title **/
/* font-size : Design Guide / letter-spacing : Design Guide 및 As-Is Contents 간격 체크 (To-be 에서 As-Is Contents CSS 수정하지 않음) */
.tit_e {color:#000;font-size:19px;font-weight:bold;line-height:22px;letter-spacing:-0.4px;transition:font-size 0.4s;}
.tit_l {margin-left:-1px;color:#000;font-size:55px;font-weight:bold;line-height:76px;letter-spacing:-0.6px;transition:font-size 0.4s;}
.tit_b {margin-left:-1px;color:#000;font-size:40px;font-weight:bold;line-height:62px;letter-spacing:-0.6px;transition:font-size 0.4s;}
.tit_m {color:#000;font-size:32px;font-weight:bold;line-height:52px;letter-spacing:-0.6px;transition:font-size 0.4s;}
.tit_s {color:#000;font-size:22px;font-weight:bold;line-height:32px;letter-spacing:-0.5px;transition:font-size 0.4s;}
.tit_xs {font-size:14px;line-height:24px;transition:all 0.4s;}

/** Color **/
.t_point {color:#0098c2}
.t_point02 {color:#e27306;}

/** Common **/
.blind {position:absolute !important;top:auto;left:auto;width:1px;height:1px;overflow:hidden;text-indent:0;clip:rect(1px 1px 1px 1px);}

/** -Mobile UI- **/
@media all and (max-width:1023px){
/** Title **/
.tit_e {font-size:14px;line-height:18px;}
.tit_l {margin-left:-1px;font-size:30px;line-height:44px;}
.tit_b {margin-left:-1px;font-size:24px;line-height:36px;}
.tit_m {margin-left:-1px;font-size:24px;line-height:36px;;letter-spacing:-0.3px;}
.tit_s {font-size:16px;line-height:26px;letter-spacing:-0.3px;}
.tit_xs {font-size:12px;line-height:20px;}
}





/***** Module *****/
/*** Module Layout ***/
/* 컨텐츠 간격 : 같은 배경색, 다른 배경색간의 간격 다름 - 디자인가이드 */
.cont {position:relative;padding:100px 0 120px 0;background:#fff;line-height:28px;overflow:hidden;outline:none;}
.cont.bg {background:#f5f5f5;}
.cont.tit_box {padding-bottom:0;}
.cont + .cont,
.cont.bg + .cont.bg {padding-top:20px;}
.cont + .cont.bg,
.cont.bg + .cont {padding-top:100px;}
.cont.resp {padding:0 0 100px 0 !important;}
.cont.bg + .cont.history_back {padding-top:40px;padding-bottom:120px;}
.cont .inner {position:relative;width:auto;max-width:1504px;margin:0 auto;padding:0 93px;box-sizing:border-box;}

.cont sup:not(.block),
.cont sub:not(.block) {display:inline-block;font-size:0.7em;}
.cont sup.block,
.cont sub.block{display:block;font-size:13px;line-height:22px;}

/** -Mobile UI- **/
@media all and (max-width:1023px){
.cont {padding:50px 0 60px 0;line-height:24px;}
.cont + .cont,
.cont.bg + .cont.bg {padding-top:10px;}
.cont + .cont.bg,
.cont.bg + .cont {padding-top:50px;}
.cont.resp {padding:0 0 50px 0 !important;}
.cont .inner {max-width:838px;padding:0 30px;}
.cont.bg + .cont.history_back {padding-top:30px;padding-bottom:60px;}

.cont sup.block,
.cont sub.block {font-size:12px;line-height:20px;}
}

@media all and (max-width:768px){
.cont.show_w + .cont,
.cont.show_w + .cont.bg {padding-top:0;}
}



/*** Tab ***/
/** tab_swiper **/
.tab_swiper .swiper-wrapper {height:auto;}
.tab_swiper .swiper-wrapper.isFixed {transform:translate3d(0px, 0px, 0px) !important;}
.tab_swiper .swiper-slide {float:left;width:auto !important;}

/* category_tab */
* + .category_tab {margin-top:120px;padding-left:80px;padding-right:80px;}
.category_tab {position:relative;}
.category_tab .caroufredsel_wrapper {width:100% !important;}

/* tab_list */
.category_tab .tab_list li {float:left;width:auto;}
.category_tab .tab_list li {margin-right:40px;}
.category_tab .tab_list li:last-child {margin-right:0;}
.category_tab .tab_list li .tab_btn {position:relative;display:block;padding-top:3px;padding-bottom:9px;padding-left:10px;padding-right:10px;font-size:22px;color:#888;transition:color 0.3s;}
.category_tab .tab_list li .tab_btn:hover,
.category_tab .tab_list li .tab_btn:focus {color:#00b3e3;}
.category_tab .tab_list li .tab_btn.active {color:#000;font-weight:bold;}
.category_tab .tab_list li .tab_btn.active:after {content:"";position:absolute;bottom:0;left:10px;width:calc(100% - 20px);height:2px;background-color:#000;}

/* tab_contro */
.category_tab .tab_control .btn_prev,
.category_tab .tab_control .btn_next {position:absolute;display:block;width:30px;height:30px;z-index:3;overflow:hidden;}
.category_tab .tab_control .btn_prev {top:5px;left:0;}
.category_tab .tab_control .btn_next {top:5px;right:0;}
.category_tab .tab_control:before,
.category_tab .tab_control:after {content:"";position:absolute;width:70px;height:40px;z-index:2;}
.category_tab .tab_control:before {top:0;left:0;}
.category_tab .tab_control:after {top:0;right:0;}
.category_tab .tab_control:before {background:linear-gradient(to right,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 90%);}
.category_tab .tab_control:after {background:linear-gradient(to right,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 28%);}
.category_tab .tab_control .btn_prev:after,
.category_tab .tab_control .btn_next:after {content:"";position:absolute;width:17px;height:17px;border-top:2px solid #000;border-left:2px solid #000;transition:border-color 0.3s;}
.category_tab .tab_control .btn_prev:after {top:6px;left:12px;transform:rotate(-45deg);}
.category_tab .tab_control .btn_next:after {top:6px;left:1px;transform:rotate(135deg);}
.category_tab .tab_control .btn_prev.disabled:after,
.category_tab .tab_control .btn_next.disabled:after {border-color:#ccc;}
.category_tab .tab_control .btn_prev:not(.disabled):hover:after,
.category_tab .tab_control .btn_prev:not(.disabled):focus:after,
.category_tab .tab_control .btn_next:not(.disabled):hover:after,
.category_tab .tab_control .btn_next:not(.disabled):focus:after {border-color:#00b3e3;}
.bg .category_tab .tab_control:before {background:linear-gradient(to right,rgba(245,245,245,1) 72%,rgba(245,245,245,0) 90%);}
.bg .category_tab .tab_control:after {background:linear-gradient(to right,rgba(245,245,245,0) 10%,rgba(245,245,245,1) 28%);}


/** -Mobile UI- **/
@media all and (max-width:1023px){
/* category_tab */
* + .category_tab {margin-top:82px;}
.category_tab {margin-left:-10px;margin-right:-10px;padding-left:0;padding-right:0;}
.category_tab:before,
.category_tab:after {content:"";position:absolute;width:20px;height:100%;z-index:2;}
.category_tab:before {top:0;left:0;background:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);}
.category_tab:after {top:0;right:0;background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.category_tab .tab_control {display:none;}
.category_tab .tab_list li {margin-right:15px;}
.category_tab .tab_list li:first-child {padding-left:10px;}
.category_tab .tab_list li:last-child {margin-right:0;padding-right:10px;}
.category_tab .tab_list li .tab_btn {padding-left:0;padding-right:0;font-size:16px;}
.category_tab .tab_list li .tab_btn.active:after {left:0;width:100%;}
.bg .category_tab:before {top:0;left:0;background:linear-gradient(to right,rgba(245,245,245,1) 0%,rgba(245,245,245,0) 100%);}
.bg .category_tab:after {background:linear-gradient(to right,rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);}
}

@media all and (max-width:600px){
/* category_tab */
.category_tab {margin-left:-30px;margin-right:-30px;padding-left:0;padding-right:0;}
.category_tab .tab_list li:first-child {padding-left:30px;}
.category_tab .tab_list li:last-child {padding-right:30px;}
.category_tab .tab_list li .tab_btn {padding-top:1px;padding-bottom:9px;}
}
   

/** tab_ty **/ /* 디자인 변경으로 현재 사용되지 않음 */
.tab_ty li {position:relative;float:left;margin-left:30px;}
.tab_ty li:first-child {margin-left:0;}
.tab_ty li a {display:block;position:relative;color:#000;font-size:44px;font-weight:bold;line-height:58px;opacity:0.2;transition:all 0.4s;}
.tab_ty li a:hover, .tab_ty li a:focus {color:#3566d8;opacity:1;}
.tab_ty li.on a {color:#000;opacity:1;} 
.tab_ty::after {display:block;clear:both;height:0;content:"";overflow:hidden;}

/* Foll Type */
.tab_ty.fill li a {opacity:1;color:#ccc;}
.tab_ty.fill li a strong {position:absolute;left:0;top:0;}
.tab_ty.fill li a span {display:block;position:relative;color:#3566d8;clip-path:inset(0 130% 0 0);-webkit-clip-path:inset(0 130% 0 0);transition:all cubic-bezier(0.63,0.03,0.21,1) 0.8s;z-index:1;}
.tab_ty.fill li a:hover span {clip-path:inset(0 0 0 0);-webkit-clip-path:inset(0 0 0 0);}
.tab_ty.fill li.on a span, .tab_ty.fill li.on a strong {color:#000;} 


/** -Mobile UI- **/
@media all and (max-width:1023px){
.tab_ty li {margin-left:18px;}
.tab_ty li a {font-size:24px;line-height:24px;}
}



/*** Btn ***/
/** Size **/
/* btn_b */
/* webkit-backface-visibility 공통 : radius hidden : ios 버그(아이폰/아이패드/맥 공통) */
.btn_b {display:inline-block;position:relative;width:260px;height:50px;padding:0 20px;box-sizing:border-box;font-size:18px;font-weight:bold;line-height:48px;text-align:center;vertical-align:top;overflow:hidden;outline:none;transition:all 0.4s;cursor:pointer;webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);}
.btn_b span {display:inline-block;position:relative;}
.btn_b span.arrow {padding-right:15px;}
.btn_b span.arrow:after {position:absolute;right:0;top:50%;width:8px;height:8px;margin-top:-3px;border:solid #000;border-width:2px 2px 0 0;box-sizing:border-box;transform:rotate(45deg);content:"";transition:all 0.4s;}
.btn_b:hover span.arrow:after, .btn_b:focus span.arrow:after {border-color:#fff;}
.btn_b.bg:after {display:none;}
.btn_b.round {border-radius:25px;}
.btn_b.round:after {border-radius:25px;}

/* btn_m */
.btn_m {display:inline-block;position:relative;min-width:/*156px*/215px;height:44px;padding:0 30px;box-sizing:border-box;font-size:16px;font-weight:bold;line-height:42px;text-align:center;vertical-align:top;overflow:hidden;outline:none;transition:all 0.4s;cursor:pointer;webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);}
.btn_m span {display:inline-block;position:relative;}
.btn_m span.arrow {padding-right:15px;}
.btn_m span.arrow:after {position:absolute;right:0;top:50%;width:8px;height:8px;margin-top:-3px;border:solid #000;border-width:2px 2px 0 0;box-sizing:border-box;transform:rotate(45deg);content:"";transition:all 0.4s;}
.btn_m:hover span.arrow:after, .btn_m:focus span.arrow:after {border-color:#fff;}
.btn_m.bg:after {display:none;}
.btn_m.round {border-radius:23px;}
.btn_m.round:after {border-radius:23px;}


/** -Mobile UI- **/
@media all and (max-width:1023px){
.btn_b {font-size:16px;}
.btn_m {min-width:/*140px*/195px;font-size:14px;}
}


/** Color **/
/* btn_ty */
.btn_ty {color:#000;}
.btn_ty.bg {background:#000;color:#fff;}
.btn_ty:before {background:#0098c2;}
.btn_ty:after {border:1px solid #000;}
.btn_ty:hover, .btn_ty:focus {background:#0098c2;color:#fff;}
.btn_ty:hover:after, .btn_ty:focus:after {border-color:#0098c2;}

/* btn_ty02 */
.btn_ty02 {color:#fff;}
.btn_ty02.bg {background:#fff;color:#000;}
.btn_ty02:before {background:#0098c2;}
.btn_ty02:after {border:1px solid #fff;}
.btn_ty02:hover, .btn_ty02:focus {background:#0098c2;color:#fff;}
.btn_ty02:hover:after, .btn_ty02:focus:after {border-color:#0098c2;}

/* btn_ty03 */
.btn_ty03 {color:#e27306}
.btn_ty03.bg {background:#e27306;color:#fff;}
.btn_ty03:before {background:#d36100;}
.btn_ty03:after {border:1px solid #e27306;}
.btn_ty03:hover, .btn_ty03:focus {background:#d36100;color:#fff;}
.btn_ty03:hover:after, .btn_ty03:focus:after {border-color:#d36100;}

/* Motion Type */
.btn_ty:before,
.btn_ty02:before,
.btn_ty03:before {position:absolute;left:0%;top:0%;width:100%;height:100%;content:"";transform:translateX(-105%);transition:all 0.4s;}
.btn_ty:after,
.btn_ty02:after,
.btn_ty03:after {position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;content:"";transition:all 0.4s;}
.btn_ty:hover:before, .btn_ty:focus:before,
.btn_ty02:hover:before, .btn_ty02:focus:before,
.btn_ty03:hover:before, .btn_ty03:focus:before {transform:translateX(0%);}
.btn_ty:hover, .btn_ty:focus,
.btn_ty02:hover, .btn_ty02:focus,
.btn_ty03:hover, .btn_ty03:focus {background:none;}
.btn_ty.bg:hover, .btn_ty.bg:focus {background:#000;}
.btn_ty02.bg:hover, .btn_ty02.bg:focus {background:#fff;}
.btn_ty03.bg:hover, .btn_ty03.bg:focus {background:#e27306;}
.btn_b.round:before {border-radius:15px;}
.btn_m.round:before {border-radius:23px;}

/* Disabled Type */
.btn_ty:disabled,
.btn_ty02:disabled,
.btn_ty03:disabled {background:none;color:rgba(255,255,255,0.5);cursor:default;}
.btn_ty:disabled:before,
.btn_ty02:disabled:before,
.btn_ty03:disabled:before {display:none;}
.btn_ty:disabled:after,
.btn_ty02:disabled:after,
.btn_ty03:disabled:after {border-color:rgba(255,255,255,0.5);}
.btn_b:disabled span.arrow:after {border-color:rgba(255,255,255,0.5);}


/** Etc. **/
/* btn_arrow */
.btn_arrow {display:inline-block;color:#0098c2;font-size:16px;transition:all 0.4s;outline:none;cursor:pointer;}
.btn_arrow span {display:inline-block;position:relative;padding-right:17px;}
.btn_arrow span:after {position:absolute;right:0;top:50%;width:16px;height:16px;margin-top:-7px;border:solid #0098c2;border-width:3px 3px 0 0;box-sizing:border-box;transform:rotate(45deg) scale(0.5);content:"";transition:all 0.4s;}
.btn_arrow.bk {color:#000;}
.btn_arrow.bk span:after {border-color:#000;}
.btn_arrow:hover, .btn_arrow:focus {color:#39c0e5;}
.btn_arrow:hover span:after, .btn_arrow:focus span:after {right:-3px;border-color:#39c0e5;}
.btn_arrow.left span {padding:0 0 0 14px;}
.btn_arrow.left span:after {right:initial;left:0;transform:rotate(-135deg) scale(0.5);}
.btn_arrow.left:hover span:after, .btn_arrow.left:focus span:after {right:initial;left:-3px;}

/* btn_download */
.btn_download {display:inline-block;color:#0098c2;font-size:16px;transition:all 0.4s;outline:none;cursor:pointer;}
.btn_download span {display:inline-block;position:relative;padding-right:17px;}
.btn_download span:after {content:"";position:absolute;right:0;top:50%;width:12px;height:12px;margin-top:-6px;background:url("https://image.samsungsds.com/module_src/images/icon/ico_download_over_bold.svg") 0 0 no-repeat;background-size:100% auto;transition:all 0.4s;}
.btn_download.bk {color:#000;}
.btn_download.bk span:after {background-image:url("https://image.samsungsds.com/module_src/images/icon/ico_download_bold.svg");}
.btn_download:hover, .btn_download:focus {color:#39c0e5;}
.btn_download:hover span:after, .btn_download:focus span:after {margin-top:-3px;}

/* btn_movie */
/* .cont 부모상속 이유 : As-is Event 별도페이지에 해당 btn name 사용 */
.cont .btn_movie {display:block;position:absolute;width:100px;height:100px;border-radius:50%;content:"";box-sizing:border-box;overflow:hidden;outline:none;transition:all 0.4s;cursor:pointer;webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);}
.cont .btn_movie i {position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #fff;border-radius:50%;}
.cont .btn_movie:after {position:absolute;left:50%;top:50%;width:0;height:0;border-width:13px 0 13px 21px;border-style:solid;border-color:transparent;border-left-color:#fff;content:"";transform:translate(-34%,-45%);transition:all 0.4s;}
.cont .btn_movie:before {position:absolute;left:0;top:0;width:100%;height:100%;background:#0098c2;border-radius:50%;transform:translateX(-100%);content:"";transition:all 0.3s;}
.cont .btn_movie:hover:before, .cont .btn_movie:focus:before {transform:translateX(0);}
.cont .btn_movie:hover i, .cont .btn_movie:focus i {border-color:#0098c2;}
.cont .btn_movie:hover:after, .cont .btn_movie:focus:after {border-left-color:#fff;}

/* btn_more */
.btn_more {position:relative;text-align:center;}
.btn_more a, .btn_more button {margin-top:40px;}

/* btn-close */
.btn-close {position:relative;display:block;width:36px;height:36px;font-size:0;}
.btn-close:before,
.btn-close:after {content:'';position:absolute;left:8px;top:18px;display:block;width:20px;height:2px;background-color:black;}
.btn-close:before {transform:rotate(45deg);}
.btn-close:after {transform:rotate(-45deg);}
.btn-close:hover:before,
.btn-close:hover:after,
.btn-close:focus:before,
.btn-close:focus:after {background:#0098C2;}


/** -Mobile UI- **/
@media all and (max-width:1023px){
/* btn_arrow */
.btn_arrow {font-size:14px;}

/* btn_download */
.btn_download {font-size:14px;}

/* btn_movie */
.cont .btn_movie {width:64px;height:64px;}
.cont .btn_movie:after {border-width:10px 0 10px 17px;transition:all 0.4s;}
}

@media all and (max-width:768px){
.btn_hidden_m {display:none !important;}

/* btn_more */
.btn_more a, .btn_more button {margin-top:30px;width:60%;}
}





/**** Template ****/
/*** module_ty ***/
.module_ty {position:relative;}
.module_ty .img {position:relative;margin-bottom:20px;overflow:hidden;}
.module_ty .img:before {content:"";display:block;width:100%;height:0;padding-bottom:56.346%;background-color:#ddd;}
.module_ty .img img {width:100%;}
.module_ty .img .img_p {position:absolute;left:0;top:0;width:100%;height:100%;}
.module_ty .img .img_m {position:absolute;left:0;top:0;width:100%;height:100%;}
.module_ty .hit {display:none;}
.module_ty .txt {position:relative;padding:0 10% 0 0;text-align:left;}
.module_ty .txt .md_txt {margin-top:6px;font-size:16px;font-weight:normal;line-height:28px;letter-spacing:-0.4px;}
.module_ty .txt .md_tit, .module_ty .txt .md_txt {display:block;}
.module_ty .md_btn {margin:16px -8px 0 -8px;}
.module_ty .md_btn a {margin:0 8px;cursor:pointer;}
.module_ty .txt.center {padding:0 5%;text-align:center;}
.module_ty .txt.right {padding:0 0 0 10%;text-align:right;}

/* md_link */
.md_link {display:block;transition:color 0.4s;outline:none;cursor:pointer;}
.md_link .img_p, .md_link .img_m {transition:transform linear 0.3s;}
.md_link:hover, .md_link:focus {color:#39c0e5}
.md_link:hover .img_p, .md_link:focus .img_p,
.md_link:hover .img_m, .md_link:focus .img_m {transform:scale(1.1);}
.module_ty .img .md_link {position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}

@media all and (max-width:1023px){
.module_ty .txt .md_txt {margin-top:8px;font-size:14px;line-height:24px;}
.module_ty .txt .md_btn {margin:8px -5px 0 -5px;}
.module_ty .md_btn a {display:block;margin:5px 5px 0 5px;}
.module_ty .md_btn a:first-child {margin-top:0;}
}

@media all and (max-width:600px){
.module_ty .txt {padding:0;}
}



/*** Txt_ty ***/
.txt_ty .md_cont {position:relative;margin-bottom:40px;}
.txt_ty .md_cont:last-child {margin-bottom:0;}
.txt_ty .md_cont02 {position:relative;margin-bottom:80px;}
.txt_ty .md_cont02:last-child {margin-bottom:0;}
.txt_ty .md_tit + .md_txt {margin-top:10px;}
.txt_ty .md_tit + .md_txt + .md_txt {margin-top:20px;}
.txt_ty .md_txt {width:100%;}

/* ico_b1 */
.ico_b1 li {position:relative;padding-left:10px;}
.ico_b1 li:before {position:absolute;left:0;top:15px;width:4px;height:1px;background:#000;content:"";}

/* ico_b2 */
.ico_b2 li {position:relative;padding-left:10px;}
.ico_b2 li:before {position:absolute;left:0;top:14px;width:3px;height:3px;background:#000;border-radius:50%;content:"";}
.ico_b2 li .ico_b1 {margin:5px 0 15px 0 !important;}
.ico_b2 li .ico_b1 li {margin-top:0;}
.ico_b2 li .ico_b1 li:before {top:15px;width:4px;height:1px;}

/* table_ty */
.table_ty {border-top:2px solid #000;}
.table_ty table {width:100%;}
.table_ty th, .table_ty td {height:28px;padding:20px 26px;border-bottom:1px solid #ddd;font-size:16px;line-height:28px;text-align:left;vertical-align:top;word-wrap:break-word;word-break:break-all;}
.table_ty thead th {padding:10px 26px;background:#ddd;font-weight:normal;vertical-align:middle;}
.table_ty tbody th {font-weight:normal;}
.table_ty .center {text-align:center;}
.table_ty .right {text-align:right;}
.table_ty .vm {vertical-align:middle;}
.table_ty .table_th {display:none;}
.table_ty .table_td {width:90%;box-sizing:border-box;}

@media all and (max-width:1023px){
/*** Txt_ty ***/
.txt_ty .md_cont02 {margin-bottom:40px;}
.txt_ty .md_cont02:last-child {margin-bottom:0;}


/* table_ty */
.table_ty {display:block;border:0;}
.table_ty thead {display:none;}
.table_ty th, .table_ty td {height:auto;min-height:24px;font-size:14px;line-height:24px;}
.table_ty tbody, .table_ty tbody tr, .table_ty tbody td {display:block;}
.table_ty .table_th {display:block;position:relative;margin:-21px -26px 20px -26px;padding:10px 26px;background:#ddd;border-top:2px solid #000;font-weight:normal;}
.table_ty th, .table_ty td {height:auto;min-height:24px;padding:20px 13px;font-size:14px;line-height:24px;}
.table_ty tbody, .table_ty tbody tr, .table_ty tbody td {display:block;}
.table_ty .table_th {display:block;position:relative;margin:-21px -13px 20px -13px;padding:10px 13px;background:#ddd;border-top:2px solid #000;font-weight:normal;}

/* ico_b1 */
.ico_b1 li:before {top:12px;}
.ico_b2 li:before {top:11px;}
.ico_b2 li .ico_b1 li:before {top:12px;}
.ico_b2 li .ico_b1 {margin:5px 0 10px 0 !important;}
}



/*** Owl ***/
.owl-carousel {display:block;}

/* owl Nav */
.cont .owl-nav {display:block !important;position:relative;width:94px;z-index:10;}
.cont .owl-nav .owl-prev,
.cont .owl-nav .owl-next {display:block;position:relative;width:30px;height:30px;background:0 0;border:1px solid #000 !important;border-radius:50%;box-sizing:border-box;overflow:hidden;outline:none;transition:all 0.4s;webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);}
.cont .owl-nav .owl-prev:hover,
.cont .owl-nav .owl-next:hover,
.cont .owl-nav .owl-prev:focus,
.cont .owl-nav .owl-next:focus {background:#0098c2 !important;border-color:#0098c2 !important;}
.cont .owl-nav .owl-prev:before,
.cont .owl-nav .owl-next:before {position:absolute;left:0;top:0;width:30px;height:30px;background:#0098c2;border-radius:50%;content:"";transform:translateX(-100%);transition:all 0.4s;}
.cont .owl-nav .owl-prev:hover:before,
.cont .owl-nav .owl-next:hover:before,
.cont .owl-nav .owl-prev:focus:before,
.cont .owl-nav .owl-next:focus:before {transform:translateX(0);}
.cont .owl-nav .owl-prev:after,
.cont .owl-nav .owl-next:after {position:absolute;left:50%;top:50%;width:7px;height:7px;border:solid #000;border-width:1px 1px 0 0;box-sizing:border-box;content:"";transition:all 0.4s;}
.cont .owl-nav .owl-prev:after {margin:-3px 0 0 -2px;transform:rotate(-135deg);}
.cont .owl-nav .owl-next:after {margin:-3px 0 0 -5px;transform:rotate(45deg);}
.cont .owl-nav .owl-prev:hover:after,
.cont .owl-nav .owl-next:hover:after,
.cont .owl-nav .owl-prev:focus:after,
.cont .owl-nav .owl-next:focus:after {border-color:#fff;}
.cont .owl-nav .disabled:before {display:none;}
.cont .owl-nav .disabled, .cont .owl-nav .disabled:after,
.cont .owl-nav .disabled:hover, .cont .owl-nav .disabled:focus,
.cont .owl-nav .disabled:hover:after, .cont .owl-nav .disabled:focus:after {background:none !important;border-color:#aaa !important;}

/* owl-pagn */
.cont .owl-pagn {position:relative;height:14px;}
.cont .owl-pagn-inner {position:relative;width:94px;height:14px;padding:0 2px;font-size:14px;font-weight:bold;line-height:14px;overflow:hidden;}
.cont .owl-pagn-bar {position:absolute;left:50%;top:50%;width:48px;height:2px;background:#ccc;transform:translate(-50%, -48%);overflow:hidden;}
.cont .owl-pagn-bar p {position:absolute;left:0;top:0;width:0%;height:2px;background:#000;transition:width 0.4s;}
.cont .owl-pagn-st {float:left;}
.cont .owl-pagn-ed {float:right;color:#888;}

/* 이미지 배경내 버튼 */
.cont .white .owl-pagn {color:#fff;}
.cont .white .owl-pagn-ed {color:rgba(255,255,255,0.4)}
.cont .white .owl-pagn-bar {background-color:rgba(255,255,255,0.4)}
.cont .white .owl-pagn-bar p {background-color:#fff;}
.cont .white .owl-nav .owl-prev,
.cont .white .owl-nav .owl-next {border-color:#fff !important;}
.cont .white .owl-nav .owl-prev:after,
.cont .white .owl-nav .owl-next:after {border-color:#fff;}
.cont .white .owl-nav .owl-prev:hover,
.cont .white .owl-nav .owl-prev:focus,
.cont .white .owl-nav .owl-next:hover,
.cont .white .owl-nav .owl-next:focus {border-color:#0098c2 !important;}
.cont .white .owl-nav .disabled,
.cont .white .owl-nav .disabled:after,
.cont .white .owl-nav .disabled:hover,
.cont .white .owl-nav .disabled:focus,
.cont .white .owl-nav .disabled:hover:after,
.cont .white .owl-nav .disabled:focus:after {border-color:#aaa !important;}

@media all and (max-width:1023px){
.cont .owl-pagn {display:block;}
.cont .owl-pagn-inner {right:initial;left:0;width:100%;}
.cont .owl-pagn-ed {position:relative;float:left;padding-left:12px;}
.cont .owl-pagn-ed:before {position:absolute;left:2px;top:0;content:"/";}
.cont .owl-pagn-bar {left:60px;width:calc(100% - 60px);height:2px;background:#ccc;transform:translateX(0);}
.cont .owl-nav {display:none !important;}
}



/*** CarouFredSel ***/
/* md_cont_control */
.md_cont_control .md_pagn_prev {float:left;}
.md_cont_control .md_pagn_next {float:right;}
.md_cont_control .md_pagn_prev,
.md_cont_control .md_pagn_next {display:block;position:relative;width:30px;height:30px;border:1px solid #000 !important;border-radius:50%;box-sizing:border-box;overflow:hidden;outline:none;transition:all 0.4s;webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);}
.md_cont_control .md_pagn_prev:hover,
.md_cont_control .md_pagn_next:hover,
.md_cont_control .md_pagn_prev:focus,
.md_cont_control .md_pagn_next:focus {background:#0098c2 !important;border-color:#0098c2 !important;}
.md_cont_control .md_pagn_prev:before,
.md_cont_control .md_pagn_next:before {position:absolute;left:0;top:0;width:30px;height:30px;background:#0098c2;border-radius:50%;content:"";transform:translateX(-100%);transition:all 0.4s;}
.md_cont_control .md_pagn_prev:hover:before,
.md_cont_control .md_pagn_next:hover:before,
.md_cont_control .md_pagn_prev:focus:before,
.md_cont_control .md_pagn_next:focus:before {transform:translateX(0);}
.md_cont_control .md_pagn_prev:after,
.md_cont_control .md_pagn_next:after {position:absolute;left:50%;top:50%;width:7px;height:7px;border:solid #000;border-width:1px 1px 0 0;box-sizing:border-box;content:"";transition:all 0.4s;}
.md_cont_control .md_pagn_prev:after {margin:-3px 0 0 -2px;transform:rotate(-135deg);}
.md_cont_control .md_pagn_next:after {margin:-3px 0 0 -5px;transform:rotate(45deg);}
.md_cont_control .md_pagn_prev:hover:after,
.md_cont_control .md_pagn_next:hover:after,
.md_cont_control .md_pagn_prev:focus:after,
.md_cont_control .md_pagn_next:focus:after {border-color:#fff;}
.md_cont_control .disabled:before {display:none;}
.md_cont_control .disabled, .md_cont_control .disabled:after,
.md_cont_control .disabled:hover, .md_cont_control .disabled:focus,
.md_cont_control .disabled:hover:after, .md_cont_control .disabled:focus:after {background:none !important;border-color:#aaa !important;}

/* md_cont_bar */
.md_cont_bar {position:relative;width:94px;height:14px;margin-bottom:14px;padding:0 2px;font-size:14px;font-weight:bold;line-height:14px;overflow:hidden;}
.md_cont_bar .bar {position:absolute;left:50%;top:50%;width:48px;height:2px;background:#ccc;transform:translate(-50%, -48%);overflow:hidden;}
.md_cont_bar .bar p {position:absolute;left:0;top:0;width:0%;height:2px;background:#000;transition:width 0.4s;}
.md_cont_bar .md_cont_bar_st {float:left;}
.md_cont_bar .md_cont_bar_ed {float:right;color:#888;}

@media all and (max-width:1023px){
.md_cont_bar {width:100%;margin-bottom:0;padding-left:30px;box-sizing:border-box;}
.md_cont_bar .bar {left:85px;width:calc(100% - 85px);height:2px;background:#ccc;transform:translateX(0);}
.md_cont_bar .md_cont_bar_ed {position:relative;float:left;padding-left:12px;}
.md_cont_bar .md_cont_bar_ed:before {position:absolute;left:2px;top:0;content:"/";}
}



/*** 공유하기 ***/
.md_share_area {display:none;position:absolute;}
.md_share_area.on {display:block;animation:fade 0.4s;z-index:7001;}
.md_share_area.off {animation:fadeOut 0.3s;}
.md_share_dimd {display:none;}

/* md_share_box */
.md_share_box {position:relative;padding:15px 26px 10px 26px;background:#fff;border:1px solid #000;box-sizing:border-box;z-index:1001;}
.md_share_box .tit {position:absolute !important;top:auto;left:auto;width:1px;height:1px;overflow:hidden;text-indent:0;clip:rect(1px 1px 1px 1px);}
.md_share_box .li_s {display:inline-block;min-width:62px;margin:0 2px;color:#000;font-size:12px;line-height:24px;text-align:center;transition:all 0.4s;}
.md_share_box .li_s i {display:block;text-align:center;}
.md_share_box .li_s i img {width:30px;}
.md_share_box .li_s span {display:block;margin-top:5px;}
.md_share_box .li_s:hover {color:#39c0e5;}
.md_share_box .li_s:hover,
.md_share_box .li_s:focus {color:#39c0e5;}

/* md_btn_share_close */
.md_btn_share_close {display:block;position:absolute;right:0;top:0;width:30px;height:30px;overflow:hidden;}
.md_btn_share_close span {display:block;position:absolute;left:50%;top:50%;width:19px;height:0;padding-top:19px;margin:-10px 0 0 -10px;transform:rotate(45deg);font-size:10px;overflow:hidden;transition:transform 0.4s;}
.md_btn_share_close span:before {position:absolute;left:50%;top:0;width:1px;height:100%;margin-left:-1px;background:#000;content:"";}
.md_btn_share_close span:after {position:absolute;left:0;top:50%;width:100%;height:1px;margin-top:-1px;background:#000;content:"";}
.md_btn_share_close:hover span,
.md_btn_share_close:focus span {transform:rotate(225deg);}
.md_btn_share_close:hover span:before,
.md_btn_share_close:hover span:after,
.md_btn_share_close:focus span:before,
.md_btn_share_close:focus span:after {background:#39c0e5;}

/* md_sns */
.md_sns a,
.md_sns button {display:block;position:relative;float:left;margin-left:20px;color:#000;line-height:20px;transition:all 0.4s;cursor:pointer;}
.md_sns a:first-child,
.md_sns button:first-child {margin-left:0;}
.md_sns:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

/* md_btn_like */
.md_btn_like {padding-left:25px;/*outline:none;*/}
.md_btn_like strong {font-weight:normal;}
.md_btn_like:before {position:absolute;left:0;top:1px;width:20px;height:20px;background:url(https://image.samsungsds.com/module_src/images/icon/ico_like_off.svg) center/cover no-repeat;content:"";transition:all 0.4s;}
.md_btn_like:hover {color:#ff5f67;}
/*.md_btn_like:focus {color:#ff5f67;}*/
.md_btn_like:hover:before {background:url(https://image.samsungsds.com/module_src/images/icon/ico_like_over.svg) center/cover no-repeat;}
/*.md_btn_like:focus:before {background:url(https://image.samsungsds.com/module_src/images/icon/ico_like_over.svg) center/cover no-repeat;}*/
.md_btn_like.on {color:#ff5f67;}
.md_btn_like.on:before {background:url(https://image.samsungsds.com/module_src/images/icon/ico_like_on.svg) center/cover no-repeat ;}

/* md_btn_share */
.md_btn_share {width:20px;height:20px;overflow:hidden;/*outline:none;*/}
.md_btn_share:before {position:absolute;left:0;top:0;width:20px;height:20px;background:url(https://image.samsungsds.com/module_src/images/icon/ico_share.svg) center/cover no-repeat;content:"";transition:all 0.4s;}
.md_btn_share:hover:before {filter:invert(45%) sepia(69%) saturate(696%) hue-rotate(155deg) brightness(92%) contrast(94%);}
/*.md_btn_share:focus:before {filter:invert(45%) sepia(69%) saturate(696%) hue-rotate(155deg) brightness(92%) contrast(94%);}*/

/* md_btn_print */
.md_btn_print {width:20px;height:20px;overflow:hidden;/*outline:none;*/}
.md_btn_print:before {position:absolute;left:0;top:0;width:20px;height:20px;background:url(https://image.samsungsds.com/module_src/images/icon/ico_print.svg) center/cover no-repeat;content:"";transition:all 0.4s;}
.md_btn_print:hover:before {filter:invert(45%) sepia(69%) saturate(696%) hue-rotate(155deg) brightness(92%) contrast(94%);}
/*.md_btn_print:focus:before {filter:invert(45%) sepia(69%) saturate(696%) hue-rotate(155deg) brightness(92%) contrast(94%);}*/

@media all and (max-width:1100px){
.md_share_box {padding:15px 16px 10px 16px;}
}

@media all and (min-width:1024px){
.btn_hidden_p {display:none !important;}
}


/** -Mobile UI- **/
@media all and (max-width:1023px){
.md_share_dimd {display:block;position:fixed;left:0;top:0;width:100%;height:130%;background:rgba(0,0,0,0.3);content:"";}

/* md_btn_share_close */
.md_btn_share_close {right:10px;top:10px;}
.md_btn_share_close span {width:20px;height:20px;}
.md_btn_share_close span:before {width:2px;}
.md_btn_share_close span:after {height:2px;}

/* md_share_box */
.md_share_box {position:fixed;left:50%;top:50%;width:340px;padding:10px 22px 30px 22px;transform:translate(-50%,-50%);}
.md_share_box .tit {display:block;margin-bottom:30px;font-size:16px;font-weight:bold;line-height:28px;text-align:center;}
.md_share_box .li_s i img {width:40px;}
.md_share_box .li_s span {margin-top:10px;}
}



/*** Etc. ***/
/** video_ty **/
.video_ty video {width:100%;}

@media all and (max-width:768px){
.video_ty {display:none;}
}



/** visual_items **/
.visual_items {position:relative;display:table;width:100%;height:320px;text-align:center;font-size:0;z-index:3;}
.visual_items_inner {display:table-cell;width:100%;vertical-align:middle;padding:20px 0;box-sizing:border-box;}
.visual_items .item_s {display:inline-block;width:calc(33.3% - 20px);max-width:380px;margin:0 10px;color:#fff;font-size:20px;line-height:30px;vertical-align:top;}
.visual_items .title {display:flex;width:100%;height:60px;flex-wrap:wrap;flex-direction:column;justify-content:flex-end;/*background:rgba(255,255,255,0.1);*/}
.visual_items .copy {display:block;width:100%;/*background:rgba(255,255,255,0.2);*/}
.visual_items .copy em {display:inline-block;padding:19px 0 15px 0;box-sizing:border-box;font-weight:bold;vertical-align:top;}
.visual_items .copy_b {min-height:110px;font-size:58px;line-height:68px;letter-spacing:-2px;}
.visual_items .copy_s {font-size:32px;line-height:52px;}
.visual_items .copy_b + .copy_s {margin:18px 0 0 6px;}
.visual_items .copy2 {display:block;}
.visual_items .title:empty {display:none;}
.visual_items .copy_b:empty {display:none;}
.visual_items .copy_b:empty + .copy_s {margin:0;padding:5px 0;}
.visual_items .copy_b:empty + .copy_s .copy_s_box {display:block;font-size:32px;line-height:52px;}
.visual_items .copy_b:empty + .copy_s .copy_s_box em {display:inline-block;padding:0;vertical-align:inherit;}
.visual_items .copy_b:empty + .copy_s .copy_s_box em br {display:none;}
.visual_items .copy_b:empty + .copy_s .f2 {font-size:20px;font-weight:normal;}
.visual_items .copy_b:empty + .copy_s sup,
.visual_items .copy_b:empty + .copy_s sub {display:inline-block;font-size:15px;}

/* 1단 */
.visual_items .item_s:first-child:nth-last-child(1),
.visual_items .item_s:first-child:nth-last-child(1) ~ .item_s {width:calc(100% - 20px);max-width:920px;}

/* 2단/4단 */
.visual_items .item_s:first-child:nth-last-child(2),
.visual_items .item_s:first-child:nth-last-child(2) ~ .item_s,
.visual_items .item_s:first-child:nth-last-child(4),
.visual_items .item_s:first-child:nth-last-child(4) ~ .item_s {width:calc(50% - 20px);max-width:500px;}
.visual_items .item_s:first-child:nth-last-child(4) .copy2,
.visual_items .item_s:first-child:nth-last-child(4) ~ .item_s .copy2 {/*display:none;*/margin-bottom:30px;}


@media all and (min-width:1024px){
.visual_items .title .f1,
.visual_items .copy2 .f1 {display:block;font-size:16px;line-height:22px;}
.visual_items .copy_b .f1 {display:inline-block;/*min-height:60px;*/margin-top:-5px;font-size:32px;line-height:38px;letter-spacing:0;vertical-align:middle;}
.visual_items .copy_b .f2 {display:inline-block;position:relative;top:-6px;font-size:32px;line-height:38px;letter-spacing:0;vertical-align:bottom;}
}

@media all and (max-width:1400px){
.visual_items .item_s {font-size:16px;line-height:26px;}
.visual_items .title {height:50px;}
.visual_items .copy_b {min-height:90px;font-size:42px;line-height:52px;}
.visual_items .copy_s {font-size:20px;line-height:34px;}
.visual_items .copy_b:empty + .copy_s {font-size:26px;line-height:44px;}
.visual_items .copy_b:empty + .copy_s .copy_s_box {font-size:26px;line-height:44px;}
.visual_items .copy_b:empty + .copy_s .f2 {font-size:16px;}
.visual_items .copy_b:empty + .copy_s sup,
.visual_items .copy_b:empty + .copy_s sub {font-size:13px;}
.visual_items .copy_b .f1 {font-size:24px;line-height:32px;}
.visual_items .copy_b .f2 {top:0;font-size:20px;line-height:34px;vertical-align:bottom;}
.visual_items .item_s:first-child:nth-last-child(1),
.visual_items .item_s:first-child:nth-last-child(1) ~ .item_s {width:calc(100% - 100px);}
}

@media all and (max-width:1023px){
.visual_items {height:420px;text-align:left;}
.visual_items_inner {padding:40px 0;}
.visual_items br {display:none;}
.visual_items .item_s {width:calc(100% - 80px);max-width:100%;margin:30px 40px 0 40px;font-size:14px;line-height:20px;}
.visual_items .item_s:first-child {margin-top:0;}
.visual_items .title {height:auto;}
.visual_items .copy em {padding:0;}
.visual_items .copy_b {min-height:auto;margin-right:5px;font-size:40px;line-height:50px;letter-spacing:-1px;}
.visual_items .copy_s {font-size:18px;line-height:30px;}
.visual_items .copy_b + .copy_s {position:relative;top:-2px;margin:0;vertical-align:bottom;}
.visual_items .copy_b .f1 {display:block;font-size:24px;line-height:32px;}
.visual_items .copy_b .f2 {position:relative;top:-2px;font-size:18px;line-height:30px;}
.visual_items .copy2 {margin:5px 0 10px 0;}
.visual_items .item_s:last-child .copy2 {margin-bottom:0;}
.visual_items .title + .copy {margin-top:5px;}
.visual_items .copy_b:empty + .copy_s {font-size:18px;line-height:30px;}
.visual_items .copy_b:empty + .copy_s .f2 {font-size:14px;line-height:20px;}
.visual_items .copy_b:empty + .copy_s .copy_s_box {margin-top:16px;font-size:32px;line-height:40px;}
.visual_items .copy_b:empty + .copy_s .copy_s_box:first-child {margin-top:0;}
.visual_items .copy_b:empty + .copy_s .copy_s_box em {display:block;}
.visual_items .copy_b:empty + .copy_s .copy_s_box em.f2 {padding:7px 0;}
.visual_items .copy_b:empty + .copy_s .copy_s_box em br {display:block;}
.visual_items .title + .copy .copy_b:empty + .copy_s {font-size:24px;line-height:32px;}
.visual_items .title:empty + .copy .copy_b:empty + .copy_s {font-size:18px;line-height:30px;}
.visual_items .item_s:first-child:nth-last-child(4) .copy2,
.visual_items .item_s:first-child:nth-last-child(4) ~ .item_s .copy2 {margin:5px 0 10px 0;}

/* 1단 */
.visual_items .item_s:first-child:nth-last-child(1),
.visual_items .item_s:first-child:nth-last-child(1) ~ .item_s,
.visual_items .item_s:first-child:nth-last-child(2),
.visual_items .item_s:first-child:nth-last-child(2) ~ .item_s,
.visual_items .item_s:first-child:nth-last-child(4),
.visual_items .item_s:first-child:nth-last-child(4) ~ .item_s {width:calc(100% - 80px);max-width:100%;}
}


/*** Scroll Design ***/
.scroll-wrapper {position:relative;padding:0 !important;overflow:hidden !important;}
.scroll-wrapper > .scroll-content {position:relative !important;left:0;top:0;width:auto !important;max-width:none !important;height:auto;max-height:none;margin:0;padding:0;border:none !important;box-sizing:content-box !important;overflow:scroll !important;}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {width:0;height:0;}
.scroll-element {display:none;}
.scroll-element, .scroll-element div {box-sizing:content-box;}
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {display:block;}
.scroll-element .scroll-bar, .scroll-element .scroll-arrow {cursor:default;}
.scrollbar-inner > .scroll-element,.scrollbar-inner > .scroll-element div {position:absolute;margin:0;padding:0;border:none;z-index:10;}
.scrollbar-inner > .scroll-element div {display:block;left:0;top:0;width:100%;height:100%;}
.scrollbar-inner > .scroll-element.scroll-x {left:0;bottom:2px;width:100%;height:4px;}
.scrollbar-inner > .scroll-element.scroll-y {right:6px;top:0;width:4px;height:100%;}
.scrollbar-inner > .scroll-element .scroll-element_outer {overflow:hidden;}
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {border-radius:2px;}
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {opacity:1;}
.scrollbar-inner > .scroll-element .scroll-bar {background:rgba(0,0,0,0.0);transition:background 0.4s;}
.scrollbar-inner:hover > .scroll-element .scroll-bar {background:rgba(0,0,0,0.2);}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color:#919191; }
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {left:-12px;}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {top:-12px;}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {left:-12px;}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {top:-12px;}



/*** Popup ***/
#dim {background:rgba(0,0,0,0.3);}

/* pop_alert_ty */
.pop_alert_ty {position:fixed !important;left:50% !important;top:50% !important;width:calc(100% - 20px) !important;min-width:320px;max-width:600px;margin:0 !important;padding:0 !important;background:#fff;transform:translate(-50%,-50%);outline:none;}
.pop_alert_inner {position:relative;padding:50px 40px;box-sizing:border-box;font-size:16px;line-height:28px;}
.pop_alert_ty .pop_tit {margin-bottom:20px;}
.pop_alert_ty .pop_tit .tit {outline:none;}
.pop_alert_ty .pop_txt {color:#000;}
.pop_alert_ty .pop_txt .mt {margin-top:10px;}
.pop_alert_ty .pop_btn {margin-top:20px;text-align:center;}
.pop_alert_ty .pop_btn a {outline:none;}
.pop_alert_ty .pop_close {display:block;position:absolute;right:15px;top:15px;width:26px;height:26px;transform:rotate(45deg);overflow:hidden;transition:transform 0.4s;outline:none;}
.pop_alert_ty .pop_close i:before {position:absolute;left:50%;top:0;width:2px;height:100%;margin-left:-1px;background:#000;content:"";}
.pop_alert_ty .pop_close i:after {position:absolute;left:0;top:50%;width:100%;height:2px;margin-top:-1px;background:#000;content:"";}
.pop_alert_ty .pop_close:hover, .pop_alert_ty .pop_close:focus {transform:rotate(225deg);}


/** -Mobile UI- **/
@media all and (max-width:1023px) {
.pop_alert_inner {padding:40px 30px;font-size:14px;line-height:24px;}
.pop_alert_ty .pop_close {width:20px;height:20px;}
}


/** layer_wrap **/
.layer_wrap {line-height:1.2;}

/*** Loading ***/
.loading_area {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.75);z-index:9999;}
.loading_area .loading {position:absolute;top:50%;left:50%;width:50px;height:50px;background:url(https://image.samsungsds.com/module_src/images/icon/loading.png);background-repeat:no-repeat;background-size:cover;transform:translate(-50%,-50%);}
.loading_area .loading {animation-name:loading;animation-duration:3s;animation-timing-function:steps(49);animation-fill-mode:forwards;animation-iteration-count:infinite;}

@keyframes loading {
0% {background-position:0 0;}
100% {background-position:100% 0 ;}
}

@media all and (max-width:600px){
.loading_area .loading {top:250px;}
}


/*
    [개발 요청]
    - https://www.samsungsds.com/kr/event/k-softwave2020.html 하단 이미지 영역에서 사용예정
    - 추후 다른 페이지에도 삽입 가능성 有
*/
.only_pc_view {display:block !important;}
.only_mobile_view {display:none !important;}

@media all and (max-width:600px){
    .only_pc_view {display:none !important;}
    .only_mobile_view {display:block !important;}
}



/***** Animation *****/
@keyframes scaleBg {
0% {transform:scale(1.4);}
100% {transform:scale(1);}
}
@keyframes scaleBg02 {
0% {transform:scale(1.1);}
100% {transform:scale(1);}
}
@keyframes fade {
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes txtTop {
0% {transform:translateY(120%);opacity:0;}
100% {transform:translateY(0%);opacity:1;}
}
@keyframes txtBottom {
0% {transform:translateY(-120%);}
100% {transform:translateY(0%);}
}
@keyframes txtLeft {
0% {transform:translateX(-120%);opacity:0;}
100% {transform:translateX(0%);opacity:1;}
}
@keyframes txtRight {
0% {transform:translateX(120%);opacity:0;}
100% {transform:translateX(0%);opacity:1;}
}

@keyframes titAni {
0% {transform:translateX(-105%);}
100% {transform:translateX(105%);}
}
@keyframes titAni_txt {
0% {transform:translateX(0);}
100% {transform:translateX(105%);}
}
@keyframes titAni02 {
0% {transform:translateX(105%);}
100% {transform:translateX(-105%);}
}
@keyframes titAni02_txt {
0% {transform:translateX(0);}
100% {transform:translateX(-105%);}
}



